body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;

    margin-bottom: 50px;

    color: #fff;
    background-color: #6441a4;
}

header {
    margin: auto;
    text-align: center;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 2.5em;

    margin: 0;
    padding: 5px;
}

.whatson {
    font-size: 1.2em;
    line-height: 50px;

    float: left;

    margin: 0;
    padding-left: 10px;
}

main {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.menu {
    overflow: hidden;

    height: 50px;

    background-color: #2e3033;
}

.menu::after {
      display: table;
      clear: both;
      content: '';
  }

.btn {
    font-family: 'Ubuntu', sans-serif;

    float: right;

    height: 40px;
    margin: 5px 5px 5px 0;
    padding: 10px;

    cursor: pointer;

    color: #fff;
    border: none;
}

.btn:hover {
        opacity: .8;
    }
.btn-active {
      background-color: #ae44c8;
    }
.btn-inactive {
      background-color: #453e4a;
}

.streamers-list {
    font-size: 1em;

    margin: 4px 0;

    color: #2e3033;
    background-color: #d4c8e9;
}

.streamers-list:hover {
    -webkit-transform: scale(1.01, 1); /* Safari */
        -ms-transform: scale(1.01, 1); /* IE 9 */
            transform: scale(1.01, 1);
}

.logo img {
    float: left;

    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.status-on > .logo img {
    float: left;

    width: 100px;
    height: 100px;
    padding-right: 10px;
}

.status-on {
    height: 100px;

    color: #000;
    background-color: #fff;
}

.status-off {
    height: 50px;

    opacity: .5;
}

.name,
.game {
    font-size: 1.2em;
}

.game {
    color: #6441a4;
}

.offline {
    font-size: .8em;

    float: right;

    padding: 0 5px;
}

a {
    text-decoration: none;

    color: #ae44c8;
}

footer > a:hover {
    text-decoration: underline;
}

a:visited {
    color: #ae44c8;
}

footer {
    font-size: .8em;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 10px 0;

    text-align: center;

    color: #fff;
    background-color: #1e1e1e;
}